.catalog {
  height: 100%;

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 37px 38px;
    grid-template-rows: max-content;
  }

  &__empty {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__image {
    margin-bottom: 26px;
  }
  &__text {
    font-size: 24px;
    line-height: 28px;
  }
}
