:root {
  --white: #FFFFFF;
  --home-background: #F8F8F8;
  --border-image: #E6E6E6;
  --border-product-basket: #EEEEEE;
  --border-detail-product: #E4E2E2;
  --border-input: #898989;
  --detail-product-properties-background: #F3F3F3;
  --detail-product-properties-color: #979494;

  --black: #000;
  --black-20: rgba(0, 0, 0, 0.2);

  --akcent-color: #FF6969;
  --akcent-color-70: rgba(255, 105, 105, 0.7);;

  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);

  --sidebar-border: #E4E4E4;

  --text-color: #424242;

  --rating-yellow: #F1C450;
}