.ui-kit {
  display: flex;
  flex-direction: column;
  background: var(--home-background);
  min-height: 100vh;
  &__item {
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    grid-gap: 20px;
  }
}