.header {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding-right: 29px;
  height: 60px;
  align-items: center;
  box-shadow: var(--shadow);
  background: var(--white);
  position: sticky;
  top: 0;
}
.logo {
  height: 100%;
  padding: 0 33px 0 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--akcent-color);
}
