.basket {
  &__list {
    min-height: 426px;
    ::v-deep {
      .button {
        color: var(--akcent-color);
        transition: 0.4s;
        font-size: 14px;
        line-height: 16px;
        font-weight: 700;
        cursor: pointer;
        background: var(--white);
        box-shadow: unset;
        padding: unset;
        height: unset;
        .button__loading {
          background: white;
          justify-content: flex-start;
          padding: 0 2px;
          span {
            background: var(--akcent-color);
          }
        }
      }
    }
  }
  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid var(--border-product-basket);
    }
  }
  &--empty, &--placed {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
