.product {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 22px;
  padding: 22px 0;
  color: var(--text-color);
  font-size: 18px;
  line-height: 21px;

  &__image {
    width: 138px;
    height: 97px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid var(--border-image);

    img {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__button {
    width: max-content;
  }

  &__name {
    margin-bottom: 7px;
    font-weight: 500;
  }

  &__price {
    margin-bottom: 7px;
  }

}